<?xml version="1.0" encoding="UTF-8" ?>
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.BookMapper">

    <select id="queryByIdAndName"
            parameterType="com.itheima.entity.Book"
            resultType="com.itheima.entity.Book">
        <!-- 根据id和name查询图书 -->
        select * from book where 1=1
        <!-- 如果id不为空，添加id条件 -->
        <if test="id != null">
            and id = #{id}
        </if>
        <!-- 如果name不为空，添加name条件 -->
        <if test="name != null and name != ''">
            and name = #{name}
        </if>
    </select>

    <select id="findBooksWithSort" parameterType="string" resultType="com.itheima.entity.Book">
        select * from book order by
        <choose>
            <when test="sortType == 'name'">
                name
            </when>
            <when test="sortType == 'price'">
                price
            </when>
            <otherwise>
                id
            </otherwise>
        </choose>
        <if test="sortOrder != null and sortOrder == 'desc'">
            desc
        </if>
        <if test="sortOrder == null or sortOrder != 'desc'">
            asc
        </if>
    </select>

    <select id="findBooksByIds" resultType="com.itheima.entity.Book">
        select * from book where id in
                           <foreach item="id" collection="array" open="(" separator="," close=")">
                               #{id}
                           </foreach>
    </select>

</mapper>