<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration SYSTEM "mybatis-3-config.dtd">

<configuration>
    <properties>
        <property name="db.driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="db.url" value="jdbc:mysql://localhost:3306/mybatis"/>
        <property name="db.username" value="root"/>
        <property name="db.password" value="Xu990515@"/>
    </properties>

    <settings>
<!--        <setting name="logImpl" value="STDOUT_LOGGING"/>-->
<!--        关闭日志记录 -->
                <setting name="logImpl" value="NO_LOGGING"/>
<!--        log4j2需要引入依赖-->
<!--        <setting name="logImpl" value="LOG4J2"/>-->
<!--        <setting name="logImpl" value="SLF4J"/>-->
    </settings>

<!--    default属性,默认环境 -->
    <environments default="development">
<!--        environment里面可以配置多个环境，每个环境都有自己的数据库连接池 -->
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.username}"/>
                <property name="password" value="${db.password}"/>
            </dataSource>
        </environment>
        <environment id="laodujdbc">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="jdbc:mysql://localhost:3306/laodu_jdbc"/>
                <property name="username" value="${db.username}"/>
                <property name="password" value="${db.password}"/>
            </dataSource>
        </environment>
    </environments>
    
    <mappers>
        <!-- 引入Mapper.xml文件 -->
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/StudentMapper.xml"/>
    </mappers>
</configuration>