<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.PersonMapper">
    <!-- 查询人员信息 -->
    <select id="getPersonById" resultMap="personResultMap">
        SELECT p.id, p.name, i.cardId, i.cardNumber
        FROM `person` p
                 LEFT JOIN
             `idcard` i ON p.idCardId = i.cardId
        WHERE p.id = #{id};
    </select>
    <!-- 定义查询结果集映射 -->
    <resultMap id="personResultMap" type="com.itheima.entity.Person">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <!-- 使用 <association> 标签处理一对一关联 -->
        <association property="idCard"
                     javaType="com.itheima.entity.IDCard"
                     resultMap="IDCardResultMap"/>
    </resultMap>
    <!-- 定义IDCard的结果集映射规则 -->
    <resultMap id="IDCardResultMap"
               type="com.itheima.entity.IDCard">
        <id property="cardId" column="cardId"/>
        <result property="cardNumber" column="cardNumber"/>
    </resultMap>
</mapper>